@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: primary;
  src: url('./assets/OTF/HKGrotesk-Medium.otf');
}

@font-face {
  font-family: light;
  src: url('./assets/OTF/HKGrotesk-Light.otf');
}

body {
  margin: 0;
  font-family: primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-container{
  /* min-width: 1300px; */
}

.summary{
  min-width: 175px;
}

.font-light{
  font-family: light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side-nav{
  background-image: url('./assets/circuit-board\ 1.svg');
}

.auth-container{
  display: grid;
  grid-template-columns: 24rem auto;
}

.dashboard-container{
  display: grid;
  grid-template-columns: 13rem auto;
}

.dashboard-body{
  display: grid;
  grid-template-rows: 5rem auto;
}

input{
  outline: none;
}

.button-shadow{
  box-shadow: 5px 2px 8px rgba(36, 40, 49, 0.13);
}

.container-shadow{
  box-shadow: 0px 1px 7px #babfca;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.slim-border-bottom{
  border-bottom: 1px solid #b4b6b3;
}

.activities-container{
  grid-template-columns: 25% 40% 25%;
}

.appointments{
  /* grid-template-columns: 8rem 7rem 12rem 12rem 12rem 6rem; */
  /* grid-column-start: 100px;
  grid-column-end: 500px; */
}

@media (max-width:1445px) {
  .activities-container{
    grid-template-columns: 30% 60%;
  }
}

@media (max-width:1220px) {
  .summary-container{
    grid-template-columns: repeat(3, minmax(0, 1fr));  
  }
}

@media (max-width:1085px) {
  .activities-container{
    grid-template-columns: 100%;
  }
}

@media (max-width:1000px) {
  .summary-container{
    grid-template-columns: repeat(2, minmax(0, 1fr));  
  }
}

@media (max-width:720px) {
  .summary-container{
    grid-template-columns: repeat(1, minmax(0, 1fr));  
  }
  .activities-container{
    grid-template-columns: 100%;
  }
}